.img-fluid {
  height: auto;
  max-width: 50%;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.buttonContainer {
  display: inline-block;
  text-align: right;
}

.gatacaButton {
  display: flex;
  min-width: 100px;
  margin: 3px;
  padding: 8px 8px;
  background-color: white;
  font-size: 12px;
  font-family: "Helvetica Neue";
  letter-spacing: 1px;
  font-weight: 2;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(24, 27, 94, 0.5);
  color: rgba(24, 27, 94, 0.8);
  box-shadow: 0px 1px 3px rgba(48, 48, 48, 0.15);
  cursor: pointer;
}

.gatacaButton > span{
  margin-right: 10px;
}
.gatacaButton:hover{
  box-shadow: 0px 2px 8px rgba(48, 48, 48, 0.10);
}

.buttonText {
  text-align: right;
  font-size: 9px;
  color: rgba(24, 27, 94, 0.5);
  font-family: "Helvetica Neue";
  letter-spacing: 1px;
  padding-right: 8px;
  font-weight: 1;
}

.buttonImg {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-right: 20px;
}

.sectionTwo{
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gatacaImgSmall {
  height: 13px;
  width: 13px;
  margin: 0;
  margin-right: 10px;
}

.buttonImg {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-right: 20px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 5, 15, 0.32);
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.is-transparent {
  opacity: 0;
}

.qr-container {
  align-items: center;
  justify-content: center;
}

.modal-window {
  background: white;
  border-radius: 25px;
  max-width: 640;
  max-height: 640;

  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window__content {
  width: 100%;
  height: 100%;
  margin: 20;
  align-items: center;
  justify-content: center;
}
